@import "normalize.css";

* {
  box-sizing: border-box;
}
div.gameboard {
  padding: 0px;
  margin: 0px;
  position: relative;
}

div.gameboard img {
  object-fit: contain;
  width: 100%;
}

div.level h1 {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

div.level h1 img.character {
  height: 75px;
  width: 75px;
}

div.level button img {
  height: 30px;
  width: auto;
}

div.level button {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

div.gameboard .popup-box {
  position: absolute;
  width: 75px;
  height: 115px;
  background-color: black;
  color: white;
}

div.gameboard .popup-box::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 70px;
  border: solid 5px;
  border-color: transparent transparent black black;
  transform: rotate(45deg);
}

div.levels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 20px;
}

div.level-select {
  border: solid black;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

div.level-select img {
  display: inline-block;
  max-width: 100%;
  object-fit: contain;
}


div.index h1 {
  margin-left: 20px;
}

div.index div.sign-container {
  display: flex;
  justify-content: center;
}

div.index img.sign {
  width: 500px;
  height: auto;
}

header {
  position: relative;
}

header img.logo {
  height: 130px;
  width: auto;
}



/* Absolute postion */